.postBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr    ;
  gap: 50px;
  padding: 0 60px;
}
.postCardBody {
    /* border: 1px solid ; */
    border-radius: 15px;
    /* padding: 10px; */
    background-color: rgb(33, 0, 65);
    
}
.postCardImage {
  height: 400px;
  /* width: 400px; */
}

.postCardImage:hover{
    transform: scale(1.05);
    transition: 299ms;
}

.postCardImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.postCardTitle  {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px 0 0 10px;
  margin-bottom: 0 !important;
}
.postCardTitle > h3 {
  margin-bottom: 20px !important;
  display: flex;
}

.postCardInfo {
  display: flex;
  margin-top: 20px;
    padding-left: 10px;
    border-top: 1px solid #5f5b61 ;
    align-items: center;
    padding-top: 10px  ;
}

.postCardTitle > button{
    background-color: transparent ;
    border: none;
    font-size: 20px;

}
.postCardInfo > p{
    padding-left: 10px;
}
.postCardInfo img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.postCardInfo h4{
  margin-bottom: 0;
}
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.SinPostBody{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding: 20px 200px;
}
.SinPostBody .sinImg{
  width:100% ;
  height: 800px;
  object-fit: cover;
  padding-bottom: 100px;
}
.imgGellry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /* height: 500px; */
}
.imgGellry img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}