.activeClass {
  padding: 5px 20px;
  color: rgb(255, 105, 105) !important;
  text-decoration: none;
  position: relative;
  /* font-size: 30px; */

}
.activeClass > .dot {
  height: 5px;
  width: 18px;
  background-color: rgb(255, 105, 105) !important;
  border-radius: 10px 10px;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 38%;
}

.defaultClass {
  text-decoration: none;
  color: #dec0f1;
  padding: 5px 20px;
}

.defaultClass:hover {
  color: white;
}
.logoBrand {
  font-size: 35px !important;
  font-size: 2px;
  font-weight: 600;
  padding-right: 80px;
  padding-top: 0!important;
}
.container{
  padding: 10px 80px !important ;
  margin: 0 auto !important;
}